<header>
  <div class="container-lg">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="text-center"><img src="./images/logopuertodelicia.png" alt="Logo Puerto Delicia" width="230" /></div>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <a href="http://localhost:8080/carts/66bb94084b9db89b660ccfb8" title="Ver carrito" class="btn btn-secondary position-relative m-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>  
<div class="container-lg">
  {{#if result }}
    <div class="row">
      {{#each payload}}
        <div class="col-md-3">
          <div class="card mb-2 mt-2" >
            <div class="card-body p-2">
              <h5 class="card-title">{{this.title}}</h5>
              <p class="card-subtitle mb-2 text-body-secondary">Categoría: {{this.category}} - Stock: {{this.stock}}</p>
              <p class="card-text">{{this.description}}</p>
              <h6>$ {{this.price}}</h6>
              <button class="btn btn-sm btn-outline-primary" title="Agregar producto al carrito" 
                onClick="agregar('{{this._id}}')">Agregar al carrito</button>
            </div>
          </div>
        </div>
      {{/each}} 
    </div>  
    <div class="row">
      <div class="col-md-12 text-center">
        {{#if hasPrevPage}}
          <a href={{prevLink}} class="link-underline-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
            </svg>
            Anterior
          </a>
        {{/if}}
        &nbsp; Pág. {{page}} de {{totalPages}} &nbsp;
        {{#if hasNextPage}}
          <a href={{nextLink}} class="link-underline-light">Siguiente 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
            </svg>
          </a>
        {{/if}}
      </div>
    </div>
  {{else}} 
    <div class="row">No se encontraron productos</div> 
  {{/if}}
</div>
<script src="/js/index.js"></script>